/* *{
    background-color: #333;
} */
/* p{
    color: tomato;
}

h3{
    color: #777;
}

h4{
    color: #666;
}

h5{
    color: aquamarine;
}
.likelion1{
    color: yellow;
}
.likelion2
{
    color: yellow;
} */
#korea{
    color: yellow;
}
#sejong{
    color: green;
}
p.korea{
    color: blue;
}
/* p.korea.sejong{
    color: red;
} */